.Content {
  flex: 1;
  overflow: auto;
  padding: 5px;
}

.videoPanel {
  display:flex;
  align-items: center;
  cursor: pointer;
}

.iconChannel {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}