// import MUI colors
@import "~muicss/lib/sass/mui-colors.scss";

// load dark theme
@import "theme.scss";

// import MUI SASS
@import "~muicss/lib/sass/mui.scss";

// global overrides
html, body, #root {
  height: 100%;
  margin: 0;
}

video::-webkit-media-controls-timeline {
  display:none;
}

video::-webkit-media-controls-panel {
  background: #000;
}